.item-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-grow: 1;
}
.item-page img {
  max-width: 500px;
  max-height: 600px;
  object-fit: fill;
  flex-grow: 1;
}
.item-page > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  text-align: left;
  max-width: 600px;
}
.item-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item-controls {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
.quantity-controls {
  display: flex;
  background-color: black;
  color: white;
  gap: 1rem;
  border-radius: 8px;
  overflow: hidden;
  align-items: center;
  padding: 8px 16px;
}
.quantity-controls button {
  border: none;
  background-color: black;
  color: white;
}
.cart-button {
  padding: 8px 46px;
  background-color: #d85b35;
  border: none;
  border-radius: 8px;
}
@media screen and (max-width: 1200px) {
  .item-page {
    flex-direction: column;
    padding: 2rem;
  }
  .item-page img {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .item-controls {
    flex-direction: column;
    align-self: center;
  }
  .quantity-controls {
    justify-content: space-evenly;
  }
  .item-page {
    padding: 1rem 2rem;
  }
}
