/*CSS Reset*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

html{
  height:100%;
}
body{
  height:100%;
}
#root{
  min-height:100%;
  display:flex;
  flex-direction:column;
  font-family: "Raleway", sans-serif;
}
/* Header styles */
nav{
  padding:1rem 4rem;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.3);
}
.nav-wrapper,.newsletter-div-wrapper{
  max-width:1400px;
  margin-inline:auto;
}
.nav-controls{
  display:flex;
  gap:1rem;
  align-items:center;
}
.newsletter-div{
 background-color:black;
 padding: 0.4rem 4rem;
}
.newsletter-div-wrapper{
  color:white;
  text-align:center; 
}
.nav-wrapper{
  display:flex;
  gap:1rem;
  justify-content:space-between;
}
/* Main styles */
main{
  flex-grow:1;
  text-align:center;
  display:flex;
  padding: 4rem 4rem;
}
.main-wrapper{
  display:flex;
  flex-grow:1;
  max-width:1400px;
  margin-inline:auto;
}


/* Footer styles */
footer{
  background-color:black;
  color:white;
  padding: 1rem 4rem;
}
.footer-wrapper{
  display:flex;
  justify-content:space-between;
  max-width:1400px;
  margin-inline:auto;
}
.socials{
  display:flex;
}
